#wrapper {
		text-align:center;
}

#mainContain {
	width: 400px;
	height: 400px;
	display: inline-block;
}

.grid {
	height:100px;
	width:100px;
	display:inline-block;
	background-color: orange;
	vertical-align: top;
}